table {
  font-size: 14px;
}

table thead th {
  font-weight: 500;
}

table thead th[data-field="prodPrecio"], table thead th[data-field="buyTotal"] {
  text-align: left !important;
}

table tbody td {
  color: #424242;
}

@media (max-width: 992px) {
  table {
    font-size: 12px;
  }
}

.dropdown-toggle {
  font-size: 10px;
  background-color: #003750;
  border: none;
}

.dropdown-toggle:hover {
  background-color: #03A9F4;
}

@media (max-width: 992px) {
  .dropdown-toggle {
    font-size: 7px;
  }
}

@media (max-width: 992px) {
  .search-input {
    font-size: 12px;
  }
}

.fixed-table-pagination {
  font-size: 12px;
}

@media (max-width: 992px) {
  .fixed-table-pagination {
    font-size: 10px;
  }
}

.alertPlanincorp,
.alertModalPlanincorp {
  display: none;
  color: #FFF;
  font-weight: 400;
}

@media (max-width: 992px) {
  .alertPlanincorp,
  .alertModalPlanincorp {
    font-size: 12px;
  }
}

.alertPlanincorp.show,
.alertModalPlanincorp.show {
  display: block;
}

.card-primary.card-outline {
  border-top: 3px solid #003750;
  padding: 20px;
}

.customModal label {
  font-weight: 400 !important;
}

.customModal .modal-body {
  padding: 20px;
}

.customModal .btnModal {
  background-color: #003750;
  border: none;
  font-weight: 300;
}

.customModal .btnModal:hover {
  background-color: #03A9F4;
}

.customModal input,
.customModal select {
  font-weight: 300 !important;
}

.customModal select:invalid,
.customModal select option[value=""] {
  color: #999;
}

.customModal .modalMessage {
  font-size: 15px !important;
}

@media (max-width: 992px) {
  .customModal {
    font-size: 12px;
  }
  .customModal input,
  .customModal select {
    font-size: 12px;
  }
  .customModal .modal-title {
    font-size: 16px;
  }
  .customModal .btnModal {
    font-size: 12px;
  }
  .customModal .modalMessage {
    font-size: 13px !important;
  }
}

.badge {
  font-weight: 500;
  padding: 5px;
  color: #FBFCF9;
}

.select2-container .select2-selection--single {
  height: 38px;
  border-color: #CED4DA;
  font-weight: 300;
  padding-left: 6px;
}

@media (max-width: 992px) {
  .select2-container .select2-selection--single {
    font-size: 12px !important;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px;
}

.select2-results__options {
  font-size: 14px !important;
  font-weight: 300;
}

@media (max-width: 992px) {
  .select2-results__options {
    font-size: 12px !important;
  }
}

.select2-dropdown .select2-dropdown--below {
  width: 100% !important;
  z-index: 9998 !important;
}

@media (max-width: 992px) {
  .select2-dropdown .select2-dropdown--below {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .select2-dropdown .select2-dropdown--below {
    width: 80% !important;
  }
}

.home-container-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem;
}

.home-container-one h5 {
  color: #003750;
}

.home-container-one #homeTotalBuy {
  margin-top: 15px;
  color: #03A9F4;
}

.home-container-one #homeTotalProv,
.home-container-one #homeTotalProd {
  margin-top: 15px;
  text-align: right;
  color: #03A9F4;
}

.home-container-two {
  margin-top: 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(26rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  grid-gap: 2rem;
}

@media (max-width: 992px) {
  .home-container-two {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.home-container-two h6 {
  color: #003750;
}

.home-container-two h6 i {
  font-size: 12px;
}

.home-container-two ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px;
  color: #03A9F4;
}

.home-container-two ul li span:nth-child(2) {
  font-weight: 600;
}

.header-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .header-card h3 {
    font-size: 26px;
  }
}

@media (max-width: 992px) {
  .header-card button {
    font-size: 12px;
  }
}

.updateIcon {
  color: #03A9F4;
  cursor: pointer;
}

.deliveryIcon {
  color: orange;
  cursor: pointer;
}

.downloadIcon {
  color: #003750;
  cursor: pointer;
}

.deleteIcon {
  color: #DC3545;
  cursor: pointer;
}

.buyList {
  display: none !important;
}

.buyNewProv,
.buyNewProd {
  color: #007BFF;
  margin-left: 4px;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 992px) {
  .buyNewProv,
  .buyNewProd {
    font-size: 11px;
  }
}

.buyContainerGral {
  background-color: #F8F8F7;
  border: 1px solid #CED4DA;
  padding: 20px 12px;
  border-radius: 6px;
}

.modalBuyNewProv {
  opacity: 0;
  position: absolute;
  background-color: #FFF;
  width: 89%;
  -webkit-box-shadow: 1px 8px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 8px 4px rgba(0, 0, 0, 0.15);
  padding: 10px;
  top: -17px;
  left: 11.4rem;
  z-index: 2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.modalBuyNewProv::before {
  content: '';
  position: absolute;
  background-color: #FFF;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  top: 50%;
  left: -13px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
}

@media (max-width: 992px) {
  .modalBuyNewProv {
    left: 9rem;
    width: 69%;
    top: -22px;
  }
}

@media (max-width: 480px) {
  .modalBuyNewProv {
    width: 56%;
  }
}

.buyContainerBuy {
  border: 1px solid #CED4DA;
  border-radius: 6px;
  padding: 20px 12px;
  margin-top: 25px;
}

.modalBuyNewProd {
  background-color: #FFF;
  display: none;
  -webkit-box-shadow: 1px 8px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 8px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #CED4DA;
  padding: 12px 0 0 0px;
  border-radius: 2px;
}

.modalBuyNewProdContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionBuyTable {
  width: 100%;
  overflow: auto;
  margin-top: 20px;
}

.sectionBuyTable .buysTable {
  background: var(--color-white);
  padding: 20px;
}

.sectionBuyTable .buysTable thead th:nth-child(2) {
  text-align: center;
}

.sectionBuyTable .buysTable thead th:nth-child(3),
.sectionBuyTable .buysTable thead th:nth-child(4) {
  text-align: right;
}

.sectionBuyTable .buysTable tbody td:nth-child(2) {
  text-align: center;
}

.sectionBuyTable .buysTable tbody td:nth-child(3),
.sectionBuyTable .buysTable tbody td:nth-child(4) {
  text-align: right;
}

.sectionBuyTable .buysTable #tableBuyFooter {
  display: none;
}

.sectionBuyTable .buysTable #tableBuyFooter tr,
.sectionBuyTable .buysTable #tableBuyFooter th {
  text-align: right;
}

.sectionBuyTable .buysTable #tableBuyFooter td {
  text-align: center;
}

.sectionBuyTable .buysTable #tableBuyFooter td:last-child {
  text-align: right;
}

.sectionBuyTable .buysTable #tableBuyFooter #buyFooterTotal,
.sectionBuyTable .buysTable #tableBuyFooter #buyFooterTotalProducts {
  font-size: 17px;
}

@media (max-width: 992px) {
  .sectionBuyTable .buysTable #tableBuyFooter #buyFooterTotal,
  .sectionBuyTable .buysTable #tableBuyFooter #buyFooterTotalProducts {
    font-size: 13px;
  }
}

.btn-buy-add,
.btn-buy-substract {
  outline: none;
  border: none;
  background-color: #03A9F4;
  color: #FFF;
  padding: 2px 8px;
  border-radius: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn-buy-add:hover,
.btn-buy-substract:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

@media (max-width: 992px) {
  .btn-buy-add,
  .btn-buy-substract {
    padding: 0;
    background-color: transparent;
    color: #03A9F4;
    font-weight: 800;
    font-size: 13px;
  }
}

.btnEmptyProducts {
  background-color: #DC3545;
  color: #FFF;
  padding: 2px 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btnEmptyProducts:hover {
  background-color: #03A9F4;
}

.modalBodyDetails {
  color: #003750;
  font-size: 15px;
}

.modalBodyDetails i {
  color: rgba(0, 0, 0, 0.6);
}

.modalBodyDetails .buyDetailsTable {
  width: 100%;
  overflow: auto;
  margin: 35px 0 15px 0;
}

.modalBodyDetails .buyDetailsTable thead {
  color: #003750;
  font-size: 15px;
}

.modalBodyDetails .buyDetailsTable thead th:nth-child(2) {
  text-align: center;
}

.modalBodyDetails .buyDetailsTable thead th:nth-child(3),
.modalBodyDetails .buyDetailsTable thead th:nth-child(4) {
  text-align: right;
}

.modalBodyDetails .buyDetailsTable .buyDetailsUnit {
  text-align: center;
}

.modalBodyDetails .buyDetailsTable .buyDetailsPrice,
.modalBodyDetails .buyDetailsTable .buyDetailsTotal {
  text-align: right;
}

.modalBodyDetails .buyDetailsH5Total {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px 0;
}

.modalBodyDetails .buyDetailsModalFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 19px;
  margin-top: 15px;
  color: #003750;
}

.modalBodyDetails .buyDetailsModalFooter #buyDetailsTotalProducts span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.templateBuyPdf {
  width: 100%;
  display: none;
}

.templateBuyPdfHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #003750;
}

.templateBuyPdfGrales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px;
}

.templateBuyPdfGrales li {
  margin-top: 5px;
}

.templateBuyPdfGrales li span {
  font-weight: bold;
  font-weight: 500;
}

.templateBuyPdfTable {
  margin: 15px 0;
}

.templateBuyPdfTable thead {
  color: #003750;
  font-size: 14px;
}

.templateBuyPdfTable thead th:nth-child(2) {
  text-align: center;
}

.templateBuyPdfTable thead th:nth-child(3),
.templateBuyPdfTable thead th:nth-child(4) {
  text-align: right;
}

.templateBuyPdfTable .buyDetailsUnit {
  text-align: center;
}

.templateBuyPdfTable .buyDetailsPrice,
.templateBuyPdfTable .buyDetailsTotal {
  text-align: right;
}

.templateBuyPdfFooter {
  text-align: right;
  margin-top: 40px;
}

.templateBuyPdfFooter #buyDetailsTotalProductsPdf,
.templateBuyPdfFooter #buyDetailsAllTotalPdf {
  font-weight: bolder;
  font-size: 20px;
}

.templateBuyPdfFooter #buyDetailsTotalProductsPdf span {
  font-size: 12px;
}

#buyTotalProductsMin {
  font-size: 20px;
}

#buyTotalProductsMin span {
  font-size: 13px;
}

#buyAllTotalMin {
  font-size: 20px;
}

.buyDeleteProduct {
  color: #DC3545;
  cursor: pointer;
}
/*# sourceMappingURL=inventario.css.map */