$clr-bg:#FBFCF9;
$clr-border:#CED4DA;
$clr-light:#FFF;
$clr-dark:#111;
$clr-nav:#003750;
$clr-blue:#007BFF;
$clr-nav-item-hover:#03A9F4;
$clr-bg-inp:#EFF0ED;
$clr-inp:rgba(85, 85, 85, 0.5);
$clr-bg-sign-out:#90272F;
$clr-gray-one: #6C757D;
$clr-gray-two:#212121;
$clr-gray-three:#383838;
$clr-gray-four:#424242;
$clr-gray-five:#909090;
$clr-delete:#DC3545;
$width-resp-one:992px;
$width-resp-two:480px;